AWS_REGION=eu-north-1
DYNAMODB_TABLE_NAME=cloud_dataset

# Source bucket where original images are uploaded and the Lambda is triggered
SOURCE_BUCKET_NAME=cloud-bucket-285168796605-eu-north-1-an

# Optional alias for compatibility with existing code
S3_BUCKET_NAME=cloud-bucket-285168796605-eu-north-1-an

# Destination bucket where the Lambda writes resized images
DEST_BUCKET_NAME=cloud-bucket-285168796605-eu-north-1-an-resized

# Optional if not using ~/.aws/credentials
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

PORT=3001
